.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(87, 91, 95);
    font-size: 6vw;
}