<div class="main-container">
    <h1>El Rincón Del Dev</h1>
    <div class="top-container">
        <div class="short-description">
            <p class="saludo">La mejor comunidad</p>
            <p class="desarrollador">de desarrolladores 😎</p>
        </div>
        <img src="../../assets/img/banner-erdd.jpeg" alt="erdd">
    </div>
    <div class="erdd-description">
        <p>El Rincón Del Dev nace cómo un pequeño proyecto donde poner a prueba mis conocimientos en community managament.</p>
        <p>Sin embargo, en poco tiempo mis objetivos han cambiado mucho, <span class="resaltar">me encanta el poder conocer gente de cualquier parte del mundo</span> que le apasiona lo mismo que a mi, resolverle alguna duda, enseñarle algo nuevo o simplemente tener una charla.</p>
        <p><span class="resaltar">Gracias a El Rincón Del Dev he podido conocer gente realmente increíble</span>, he aprendido mucho de muchas personas y me ha motivado a trabajar más duro, ya sea creando contenido o estudiando desarrollo.</p>
        <p>Se podría decir que ahora mismo esta comunidad es el motor que mueve mis ganas de superar mis límites. Estoy deseando ver donde estamos dentro de un año, <span class="resaltar">gracias por formar parte de esto ✌🏻</span>.</p>
    </div>
    <div class="content">
        <img src="../../assets/img/img-1.jpg" alt="img-1">
        <img src="../../assets/img/img-2.jpg" alt="img-2">
        <img src="../../assets/img/img-3.jpg" alt="img-3">
        <img src="../../assets/img/img-4.jpg" alt="img-3">
    </div>
</div>