<div class="main-container">
    <h1>Sobre mi</h1>
    <div class="top-container">
        <div class="img-container">
            <img src="../../assets/img/sobre-mi3.jpg" alt="jr">
        </div>
        <div class="short-description">
            <p class="saludo">Hey, Soy Jose 👋</p>
            <p class="desarrollador">Desarrollador Full Stack</p>
        </div>
    </div>
    <div class="sobre-mi">
        <p>Sobre mi</p>
        <p>Me considero una <span class="resaltar">persona proactiva, ambiciosa y altamente competitiva</span>, siempre intento esforzarme al máximo, superar mis límites y también ponerme a prueba con cualquier cosa que pueda hacer.</p>
        <p>Tengo dos pasiones, <span class="resaltar">el desarrollo web y el marketing</span>, por un lado, me encanta programar, desarrollar aplicaciones que son útiles en mi día a día y aprender sobre nuevas tecnologías, y por otro lado me encanta el marketing, sobre todo el apartado de las redes sociales, community managament… de la combinación de ambas facetas es de donde sale El Rincón Del Dev.</p>
        <p>A su vez siempre me ha gustado que me ayuden cuando lo necesito, y creo que el que alguien te ayude es muy importante para seguir hacia delante, por eso me encanta ayudar a la gente, siempre que está en mi mano el poder resolverle una duda a alguien o enseñarle algo, lo hago encantado.</p>
        <p>En mi tiempo libre me gusta leer, conocer sitios nuevos y tomar café, actualmente mi objetivo es seguir demostrándome a mi y al mundo que, <span class="resaltar">si de verdad quieres algo, con ganas y un buen plan puedes conseguirlo.</span></p>
    </div>

</div>