
    <div class="main-container">
        <h1>Desarrollador Full Stack</h1>
        <div class="top-container">
            <div class="quien-soy">
                <a href="./quien-soy/quien-soy-component" class="quien-soy-enlace"></a>
                <p>Hey, Soy Jose 👋</p>
                <p>"Si el código funciona, no se toca."</p>
            </div>
            <div class="erdd">
                <a href="/erdd-component" class="erdd-enlace"></a>
                <div class="erdd-p">
                    <p>El Rincón Del Dev</p>
                </div>
                <img src="../../assets/img/mobile.png" alt="mobile">
            </div>
        </div>
        <div class="bottom-container">
            <div class="right-bottom-container">
                    <div class="proyectos">
                        <a href="/proyectos-component" class="proyectos-enlace"></a>
                        <p>Mis Proyectos</p>
                        <div>💻</div>
                    </div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/in/jose-ram%C3%B3n-montes-hermida-a8a635193/" target="#" class="linkedin-enlace"></a>
                    <p>in</p>
                </div>
            </div>
            <div class="contacto">
                <a href="/contacto-component" class="contacto-enlace"></a>
                <div class="contacto-p">
                    <p>¿Hablamos?</p>
                </div>
                <img src="../../assets/img/mailbox.png" alt="mailbox">
            </div>
        </div>
    </div>
